.data-figure {
  svg {
    text {
      font-size: 1.2rem;
    }
  }
}
.scene {
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  backface-visibility: hidden;
}

.card__face--back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  overflow: auto;
}

.card__face--back {
  transform: rotateY(180deg);
}

.sidebar-geo-data {
  padding: 20px 0 20px 0;
}

.metadata-sidebar {
  overflow-x: hidden;
}

.popup-wrap {
  border-radius: 0;
  opacity: 0.7;
}

.metadata-btn-group {
  margin: 0 40% !important;
  width: 25%;
}

.scale-image {
  transform: scale(0.72);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
div.scene > div.card__face--back:hover .overlay {
  display: none;
}

div.card__face--front:hover .overlay {
  opacity: 1;
}
