.scene {
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: center right;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  backface-visibility: hidden;
}

.card__face--back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  text-align: left;

  h2 {
    display: none;
  }

  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0px;

    th {
      background-color: #787878;
      color: #fff;
      text-align: center;
    }

    tr,
    td {
      padding: 8px;
      border: 1px solid #787878;
      color: #787878;
    }
  }
}

.card__face--back {
  transform: rotateY(180deg);
}

// set overflow auto only when we have flipped card where we have tables
// if auto is set directly, within Chrome you cannot scroll the body area
// when the front card is the chart and it has no overflow
.is-flipped .card__face--back {
  overflow: auto;
}

@media print {
  .card__face--front {
    page-break-inside: avoid !important;
  }

  .card__face--back {
    page-break-inside: avoid !important;
  }

  .card {
    page-break-inside: unset !important;
  }

  .metadata-sidebar {
    display: none;
  }

  .scene {
    perspective: none !important;
  }

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: unset !important;
    transform-style: unset !important;
    transition: unset !important;
  }

  .card.is-flipped {
    transform: none !important;
  }

  .card__face {
    backface-visibility: unset !important;
  }

  .card__face--back {
    position: unset !important;
    transform: unset !important;
  }
}

.sidebar-geo-data {
  padding: 20px 0 20px 0;
}

.metadata-sidebar {
  overflow-x: hidden;
}

.popup-wrap {
  border-radius: 0;
  opacity: 0.9;
}

.metadata-btn-group {
  width: 100%;
  margin: auto !important;
  text-align: center;
}

.scale-image {
  transform: scale(0.72);
}

.data-figure-zoom {
  width: 90% !important;

  .data-figure-image {
    display: block !important;
    text-align: center;
  }

  .data-figure {
    width: 100%;
  }

  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    border-spacing: 0px;

    th {
      background-color: #787878;
      color: #fff;
      text-align: center;
    }

    tr,
    td {
      padding: 8px;
      border: 1px solid #787878;
      color: #787878;
    }
  }
}

// #136771 hide chart titles from svg derived from google charts svg
// which  follow this exact pattern
.data-figure svg > rect + g > text[text-anchor='start'] {
  display: none;
}

.data-figure-block {
  padding-top: 25px;
}

.ui.header.data-figure-block-header {
  color: #517776;
}

.data-source-toolbar {
  left: 740px !important;
}

.data-figure-control {
  border: none !important;
}

.download-data {
  display: inline-flex !important;

  a {
    padding-top: 0 !important;
  }
}

#page-add {
  .data-figure-edit {
    & {
      position: relative;
      pointer-events: none;
    }

    img {
      opacity: 0.1;
    }

    .toolbar-inner {
      display: none;
    }

    &:hover::before {
      border: none;
    }

    &::before {
      position: absolute;
      z-index: 2;
      top: 40%;
      left: 50%;
      content: attr(data-disabled-msg);
      opacity: 0.333;
      transform: translate(-50%, 0);
    }
  }
}
